body {
  background-color: $body-background;
  font-family: 'Inter';
}
.container {
  max-width: $desktop-width;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.d-none {
  display: none !important;
}

.no-events {
  pointer-events: none;
}

@media (max-width: $middle-max-screen-width) {
  .container {
    // margin-right: 40px;
    // margin-left: 40px;
    max-width: 688px;
  }
}

// @media (max-width: $mobile-max-screen-width) {
//   .container {
    
//   }
// }