$desktop-width: 1200px;
$body-background: #F5F5F5;
$icon-inner-size: 24px;
$icon-outer-size: 40px;
$icon-padding: calc(($icon-outer-size - $icon-inner-size) / 2);
$blue-1: #2676EE;
$gray-bg-1: #F5F5F5;
$gray-bg-2: #EBEBEB;
$grey-1: #949494;
$grey-2: #525252;
$pink-1: #EE26C2;
$pink-2: #F4D4ED;
$white-1: #fff;
$content-block-whitebg: #fff;
$content-block-radius: 20px;
$arrow-up-path: url(../source/images/arrow-up.svg)
// $main-font: 