main {
  .row {
    display: flex;
    align-items: stretch;
    gap: 30px;
    height: 709px;
  }
.content-block {
  background: $content-block-whitebg;
  border-radius: $content-block-radius;
  padding: 28px;

  &__header {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.05px;
  }
}
}