main {
  .requests {
    max-width: 295px;
    width: 100%;
    flex-shrink: 0;

    &__header {
      margin-bottom: 30px;
    }

    padding-inline: 20px;

    &__curtain {
      margin-top: 46px;

      &-img {
        margin-bottom: 30px;
      }

      &-text {

        font-size: 16px;
        font-weight: 500;
        line-height: 23.2px;
        text-align: center;

      }
    }

    .requests-list {
      overflow: hidden;

      &#mediaplanes {
        margin-bottom: 30px;
        overflow: hidden;
      }

      #mediaplanes-list {
        height: $mediaplanes-list-height;
        overflow: hidden;
      }

      #reports-list {
        height: $reports-list-height;
        overflow: hidden;
      }

      &__header-wrapper {
        justify-content: space-between;
        padding-right: 9px;
        margin-bottom: 20px;
      }

      &__header {
        font-size: 18px;
        font-weight: 600;

        &-arrow {
          width: 24px;
          height: 24px;
          background-image: $arrow-up-path;
        }
      }

      .requests-item {
        background-color: $gray-bg-1;
        @include icon-with-content(18px);

        // &:not(&:last-child) {
        //   margin-bottom: 8px;
        // }

        &__content {
          @include icon-with-content(0);

          &-icon {
            box-sizing: content-box;
            width: 24px;
            height: 24px;
            padding: 9px;

            .in-preparaton {
              .img-ready {
                display: none;
              }

              .img-in-preparation {
                display: inline;
              }
            }
          }

          &-text {
            font-size: 15px;
            font-weight: 400;
            word-break: break-all;
          }
        }

        &__icon {
          @include icon($grey-1, 4px);



        }

        .img-ready {
          display: none;
        }

        .img-in-preparation {
          display: inline;
        }

        &.ready {

          .img-status {
            @include icon($pink-2, 4px);
          }

          .img-ready {
            display: inline;
          }

          .img-in-preparation {
            display: none;
          }
        }
      }

      &__prompt {
        @include icon-with-content(5px);
        justify-content: start;
        // &-icon {};

        margin-bottom: 14px;

        &-text {
          font-size: 12px;
          font-weight: 400;
          line-height: 16.2px;

        }

        ;
      }

      &__more {
        text-align: right;
        margin-top: 12px;

        &-text {
          color: $pink-1;
          font-size: 15px;
          line-height: 18.15px;
          font-weight: 400;
        }
      }
    }
  }

  .requests-mobile {
    display: none;
    width: 100%;

    .mob-requests-button {

      padding: 12px;
      background-color: $gray-bg-3;

      font-size: 14px;
      font-weight: 600;
      line-height: 16.94px;

      &__icon {
        img {
          display: none;
        }
      }

      &.activated {
        border: 1px solid $pink-1;
        border-radius: 4px;
        background: transparent;
        cursor: pointer;
      }

      &.in-preparation {
        @include icon-with-content(10px);
        display: flex;
        img.in-preparation {
          display: inline;
        }
      }
      &.ready {
        @include icon-with-content(10px);
        display: flex;
        img.ready {
          display: inline;
        }
      }

    }
  }
}