@media (max-width: $middle-max-screen-width) {
  main .requests {
    max-width: 100%;

    &-wrapper {
      display: flex;
      justify-content: space-around;
      gap: 19px;
    }

    &__curtain {
      display: flex;
      align-items: center;
      margin: 0 9.8% 0 10.8%;

      &-text {
        text-align: left;
      }
    }

    .requests-list {
      width: 50%;
    }
  }
}

@media (max-width: $mobile-max-screen-width) {
  main {
    .requests {
      display: none;
    }

    .requests-mobile {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 12px;
    }
  }
}